.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    height: 50vh;
    font-family: "Cascadia Code", "sans-serif";
}
.title{
    border-right: black solid 2.5px;
    text-align: center;
}
.index_nav{
    padding-left: 10px;
    border-left: black solid 2.5px;
    display: flex;
    flex-direction: column;
}
.index_nav a {
    margin-bottom: 5px;
    color: black;
}