@font-face {
    font-family: "Santello";
    src: url("SANTELLO.ttf");
}
@font-face {
    font-family: "Yftoow";
    src: url("Yftoow.ttf");
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
#root{
    height: 100vh;
}