<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "../../backprojects_f/src/assets/static/main_style.css" %}">
    <title>BackProjects_main</title>
    <script src="https://kit.fontawesome.com/1dc8f46dd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="title"><i class="fa-solid fa-briefcase"></i><br>BackProjects</div>
        <nav>
            <a href="../../server">Менеджер закладок FavLinks</a>
            <a href="lagushki">Практика Lagushki</a>
        </nav>
    </div>
</body>
</html>