<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title> недавно заданные вопросы </title>
    {% load static %}
    <link rel="stylesheet" href="{% static "../backprojects_f/src/assets/static/lagushki_style.css" %}">
    <link rel="icon" href="{% static "../backprojects_f/src/assets/static/img/favlinks.ico" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="menu">
        <div id="betalabel">Beta</div>
        <div class="t1">
            <a id="titlel" class="title" href="./">🐸 Лагушки и жабы</a>
            <a id="titles" class="title" href="./">🐸</a>
        </div>
        <div class="linksl">
            <a href="faq" class="alink link">🐸<br>ЧЗВ</a>
            <a href="index2" class="link">Index2</a>
            <a href="info" class="link">Инфо</a>
            <a href="rating" class="link">Рейтинг</a>
            <a href="build" class="link">Build</a>
        </div>
        <div id="menu_button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="linkssmenu">
        <a href="faq" class="llink">🐸ЧЗВ</a>
        <a href="index2" class="llink">Index2</a>
        <a href="info" class="llink">Инфо</a>
        <a href="rating" class="llink">Рейтинг</a>
        <a href="build" class="llink">Build</a>
    </div>
    <div id="content">
        <div id="qcontent">
            <div class="questions" id="q1">
                <div class="question l">
                    Зачем этот сайт?
                </div>
                <div class="answer l">
                    Данный сайт был сделан с целью обучения созданию веб-сайта и использования новых инструментов и идей для оформления. Также этот сайт понравится любителям лягушкам.
                </div>
            </div>
            <div class="questions" id="q2">
                <div class="question r">
                    Почему лягушки/жабы?
                </div>
                <div class="answer r">
                    Лягушки и жабы милые и прикольные и классные и че бы нет.
                </div>
            </div>
            <div class="questions" id="q3">
                <div class="question l">
                    У автора всё норм с головой?
                </div>
                <div class="answer l">
                    Да, всё норм. В будущем, если будет время у автора, добавится динамика и будут использоваться базы данных для сохранения. Для продолжения был оставлен Index2.
                </div>
            </div>
            <div class="questions" id="q4">
                <div class="question r">
                    Зачем продолжать этот проект?
                </div>
                <div class="answer r">
                    Поскольку автор могёт и есть какое-то желание.
                </div>
            </div>
            <div class="questions" id="q5">
                <div class="question l">
                    Кто автор?
                </div>
                <div class="answer l">
                    Илья. Можно найти меня в вк/тг (@szoergage) или по почте ilya.2005.tretyakov@gmail.com.
                </div>
            </div>
            <div class="questions" id="q6">
                <div class="question r">
                    Как долго заняло создание этого сайта?
                </div>
                <div class="answer r">
                    Включая поиск хостинга - около 7 часов.
                </div>
            </div>
        </div>
    </div>
</body>
</html>