<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title> ща будет активно </title>
    {% load static %}
    <link rel="stylesheet" href="{% static "lagushki_style.css" %}">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="menu">
        <div id="betalabel">Beta</div>
        <div class="t1">
            <a id="titlel" class="title" href="../">🐸 Лагушки и жабы</a>
            <a id="titles" class="title" href="../">🐸</a>
        </div>
        <div class="linksl">
            <a href="../faq" class="link">ЧЗВ</a>
            <a href="../index2" class="alink link">🐸<br>Index2</a>
            <a href="../info" class="link">Инфо</a>
            <a href="../rating" class="link">Рейтинг</a>
            <a href="../build" class="link">Build</a>
        </div>
        <div id="menu_button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="linkssmenu">
        <a href="../faq" class="llink">ЧЗВ</a>
        <a href="../index2" class="llink">🐸Index2</a>
        <a href="../info" class="llink">Инфо</a>
        <a href="../rating" class="llink">Рейтинг</a>
        <a href="../build" class="llink">Build</a>
    </div>
    <div id="content">
        under construct
        {% if data %}
            {{ data }}
        {% endif %}
    </div>
</body>
</html>