<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "../backprojects_f/src/assets/static/lagushki_style.css" %}">
    <link rel="icon" href="{% static "../backprojects_f/src/assets/static/img/favlinks.ico" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> рейтинг лягушек </title>
</head>
<body>
    <div id="menu">
        <div id="betalabel">Beta</div>
        <div class="t1">
            <a id="titlel" class="title" href="./">🐸 Лагушки и жабы</a>
            <a id="titles" class="title" href="./">🐸</a>
        </div>
        <div class="linksl">
            <a href="faq" class="link">ЧЗВ</a>
            <a href="index2" class="link">Index2</a>
            <a href="info" class="link">Инфо</a>
            <a href="rating" class="alink link">🐸<br>Рейтинг</a>
            <a href="build" class="link">Build</a>
        </div>
        <div id="menu_button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="linkssmenu">
        <a href="faq" class="llink">ЧЗВ</a>
        <a href="index2" class="llink">Index2</a>
        <a href="info" class="llink">Инфо</a>
        <a href="rating" class="llink">🐸Рейтинг</a>
        <a href="build" class="llink">Build</a>
    </div>
    <div id="content">
        <table>
            <tr class="A">
                <td class="theader">A</td>
                <td class="tcontent">
                    <img src="{% static "../backprojects_f/src/assets/static/img/2.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/3.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/5.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/7.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/9.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/10.png" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/13.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/14.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/17.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/18.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/19.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/20.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/21.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/31.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/25.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/26.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/27.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/28.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/29.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/30.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/32.jpeg" %}"/>
                </td>
            </tr>
            <tr class="B">
                <td class="theader">B</td>
                <td class="tcontent">
                    <img src="{% static "../backprojects_f/src/assets/static/img/1.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/4.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/6.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/8.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/12.jpg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/23.jpeg" %}"/>
                    <img src="{% static "../backprojects_f/src/assets/static/img/24.jpeg" %}"/>
                </td>
            </tr>
            <tr class="C">
                <td class="theader">C</td>
                <td class="tcontent">
                    <img src="{% static "../backprojects_f/src/assets/static/img/11.jpg" %}"/>
                </td>
            </tr>
            <tr class="D">
                <td class="theader">D</td>
                <td class="tcontent">
                    <img src="{% static "../backprojects_f/src/assets/static/img/22.jpeg" %}"/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>