@font-face {
    font-family: "General style";
    src: local('Lack Regular'), url('Lack-Regular.woff') format('woff');
}

html{
    height: 100%;
}
body{
    color: #050505;
    padding: 0;
    font-family: "General style";
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: start;
    height: fit-content;
    width: 100%;
    margin: 0;
}
#betalabel{
    position: absolute;
    left: 10px;
    top: 10px;
    color: red;
    z-index: 10;
}
#indexbackground{
    position: absolute;
    width: 100%;
    height: 100px;
    display: block;
    background-position: center;
    filter: brightness(10);
    z-index: 0;
}
#menu{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 20% auto;
    align-content: stretch;
    justify-content: stretch;
    margin-bottom: 10px;
    z-index: 1001;
}
#content{
    position: relative;
    height: 88.9%;
    width: 100%;
    margin: 100px 0 20px 0;
    display: flex;
    flex-flow: column wrap;
    z-index: 555;
}
.block{
    align-self: center;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    width: fit-content;
}
.iblock{
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}
.answer{
    font-size: 18px;
    word-wrap: normal;
}
strong{
    color: red;
    text-decoration: underline red 2px;
    margin-bottom: 5px; 
}
table{
    background-color: black;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}
td.theader{
    height: fit-content;
    text-align: center;
    width: 25px;
    border-radius: 0;
}
.tcontent{
    border-radius: 0;
}
.A > .theader{
    border-radius: 10px 0 0 0;
}
.D > .theader{
    border-radius: 0 0 0 10px;
}
.A > .tcontent{
    border-radius: 0 10px 0 0;
}
.D > .tcontent{
    border-radius: 0 0 10px 0;
}
td{
    vertical-align: center;
}
.A{
    background-color: wheat;
}
.B{
    background-color: lightgreen;
}
.C{
    background-color: #ffff88;
}
.D{
    background-color: lightpink;
}
.l{
    text-align: left;
}
.r{
    text-align: left;
}
#archive > img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
}
td > img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
    vertical-align: middle;
    margin: 2px 1px 2px 1px;
}
#qcontent{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.questions{
    position: relative;
    font-size: x-large;
    color: black;
    margin-bottom: 20px;
}
h1{
    position: absolute;
    font-size: x-large;
}
div.t1{
    display: table;
    height: 100%;
    justify-self: center;
}
a.title{
    font-family: "General style";
    width: 50px;
    text-align: center;
    background: -webkit-linear-gradient(47deg, rgba(9,9,121,1), rgba(42,208,61,1));
    background-clip: unset;
    -webkit-background-clip: text;
    -moz-background-clip: content-box;
    -webkit-text-fill-color: transparent;
    color: white;
    position: relative;
    justify-self: center;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
}
.linksl{
    display: table;
    table-layout: auto;
    align-content: stretch;
}
#menu_button{
    overflow: auto;
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
}
.link{
    justify-self: stretch;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
a.llink{
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    height: fit-content;
    width: 130px;
    margin: 30px 10px 30px 10px;
}
.linksl > .alink {
    padding: 0 0 25px 0;
}
a:-webkit-any-link{
    text-decoration: none;
    color: white;
}
a.link{
    color: white;
    text-decoration: none;
}
.answer{
    word-wrap: break-word;
}
.questions{
    word-wrap: break-word;
}
a.alink{
    color: white;
}
#infolink{
    color: black;
    text-decoration: underline blue 2px;
}
#ratinglink{
    color: black;
    text-decoration: underline red 2px;
}
#faqlink{
    color: black;
    text-decoration: underline purple 2px;
}
#buildlink{
    color: black;
    text-decoration: underline limegreen 2px;
}
#infoimg{
    max-width: 95%;
    height: auto;
    align-self: stretch;
    text-align: center;
}
#archive{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-around;
}
#archive > p{
    margin: 2px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
td > p{
    margin: 2px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
table > tbody > tr > td.tcontent{
    padding: 0;
    vertical-align: middle;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-self: center;
    min-height: 170px;
}
table#build > tbody > tr{
    height:fit-content;
    width: 100%;
}
table#build{
    width: 100%;
}
#i1{
    background-image: url("img/1.jpeg");
}
#i2{
    background-image: url("img/2.jpg");
}
#i3{
    background-image: url("img/3.jpg");
}
#i4{
    background-image: url("img/4.jpg");
}
#i5{
    background-image: url("img/5.jpg");
}
#i6{
    background-image: url("img/6.jpg");
}
#i7{
    background-image: url("img/7.jpg");
}
#i8{
    background-image: url("img/8.jpg");
}
#i9{
    background-image: url("img/9.jpg");
}
#i10{
    background-image: url("img/10.png");
}
#i11{
    background-image: url("img/11.jpg");
}
#i12{
    background-image: url("img/12.jpg");
}
#i13{
    background-image: url("img/13.jpeg");
}
#i14{
    background-image: url("img/14.jpeg");
}
#i15{
    background-image: url("img/17.jpeg");
}
#i16{
    background-image: url("img/18.jpeg");
}
#i17{
    background-image: url("img/19.jpeg");
}
#i18{
    background-image: url("img/20.jpeg");
}
#i19{
    background-image: url("img/21.jpeg");
}
#i20{
    background-image: url("img/22.jpeg");
}
#i21{
    background-image: url("img/23.jpeg");
}
#i22{
    background-image: url("img/24.jpeg");
}
#i23{
    background-image: url("img/25.jpeg");
}
#i24{
    background-image: url("img/26.jpeg");
}
#i25{
    background-image: url("img/27.jpeg");
}
#i26{
    background-image: url("img/28.jpeg");
}
#i27{
    background-image: url("img/29.jpeg");
}
#i28{
    background-image: url("img/30.jpeg");
}
#i29{
    background-image: url("img/31.jpeg");
}
#i30{
    background-image: url("img/32.jpeg");
}
#titlel{
    width: 600px;
    font-weight: 900;
}
#titles{
    font-weight: 900;
    font-size: 30px;
}

.linkssmenu{
    position: fixed;
    animation-name: lmenu;
    display: flex;
    right: -200%;
    width: 25%;
    height: 100%;
    flex-flow: wrap column;
    color: white;
    z-index: 666;
    min-height: 91.5%;
    top: 80px;
    background-color: black;
    align-content: center;
    transition: 0.3s;
}
.visible{
    right: 0;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px);
    transform: rotate(-45deg) translate(-9px, 5px);
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -4px);
    transform: rotate(45deg) translate(-8px, -4px);
}

.send_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.send_button button{
    padding: 10px;
    background-color: mediumseagreen;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-family: "General style";
    font-weight: 600;
}
.send_button button:hover{
    cursor: pointer;
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
    a.title{
        background: -webkit-linear-gradient(47deg, rgba(9,9,121,1), rgba(42,208,61,1));
        background-clip: unset;
        -webkit-background-clip: text;
        -moz-background-clip: content-box;
        -webkit-text-fill-color: transparent;
    }
}   
@media screen and (-webkit-min-device-pixel-ratio:0) {
    a.title{
        color: white;
    }
}
@media screen and (max-width: 680px){
    #titlel{
        display: none;
        width: 0;
    }
    .links > a.link{
        font-size: small;
    }
    .linksl{
        display: none;
    }
    #menu{
        justify-content: space-between;
    }
}
@media screen and (min-width: 681px){
    #titles{
        display: none;
        width: 0;
    }
    #menu_button{
        display: none;
    }
    #menu{
        justify-content: stretch;
    }
    #linkssmenu{
        display:none;
    }
}
@media screen and (max-height: 680px) {
    #menu{
        height: 20%
    }
}